{% extends "master.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.align-btn{
    margin-left:500px;
    margin-top:100px;
    color:orange;
    height: 250px;
    width:300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:none;
    box-shadow: inset;
    backdrop-filter: blur(25px);
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0px 0px 40px 5px black;
}
input{
  width:90%;
  height: 10%;
  background: transparent;
  margin-left:15px;
  border-radius: 10px;
  box-shadow: 10px;
}
label{
  font-size:25px;
  margin-left: 15px;
}

.btn{
  margin-left:15px;
  margin-top:20px;
  background-color: antiquewhite;
  font-size: large;
  
}
.btn:hover{
  background-color: blueviolet;
  color: aliceblue;
}
.btn2{
   margin-left:550px;
   margin-top:50px;
}
h2{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  color: rgb(12, 187, 6);
}
button{
  width:300px;
  height: 30px;
  margin-left: 500px;
  margin-top: 50px;
  background-color: brown;
  box-shadow: 0px 0px 40px 5px black;
  border-radius: 0px 10px 0px 10px;
}

</style>
<div class="align-btn">
<h2>BatchMaster-Insert</h2>
<form action="{% url 'process_batch_entry' %}" method="post">
{% csrf_token %}
{{ form|crispy }}
<input type="submit" value="Submit" class="btn">
</form>
</div>
<form action="{% url 'display_image' %}">
<button type="submit">Home</button>
{% endblock %}


