
{% extends "master.html" %}
{% block content %}
<style>
    h2,p{
        text-align: center;
        font-size: xx-large;
    }
    .btn{
       margin-left: 590px;
    }
   .one{
    text-shadow: 2px 0px red;
   }
   .btn2{
    margin-left: 650px;
    margin-top: -30px;
   }
</style>
<h2 class="one"><u>CourseMaster Details</u></h2>
<table border="1" class="btn">
<tr><th>Course: </th>
    <th>{{course.course}}</th></tr>
<tr><th>CourseId: </th>
    <th>{{course.courseId}}</th></tr>
</table><br>
<table border="1" class="btn">
<tr><th><a href="{% url 'edit_course' course.id  %}"><button type="button">Edit</button></a></th></tr>
</table>
<table border="1" class="btn2">
<tr><th><a href="{% url 'display_Course' %}"><button type="button">View</button></a></th></tr>
</table>
{% endblock %}