<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        table{
            margin-left: 600px;
        }
        button{
            margin-left: 600px;
            margin-top:20px;
            
            
        }
    </style>
</head>
<body>
    <h1>BatchMaster-Details</h1>
    <table border=1>
        <tr><th>Batchno</th><th>Batchid</th></tr>
          {% for x in data %}
            <tr>
               <td>{{x.batchNo}}</td>
               <td>{{x.batchId}}</td>
            </tr>
          {% endfor %}
        </table>
        <button class="print-button" onclick="window.print()">Print</button>
</body>
</html>