{% extends "master.html" %}
{% block content %}
<style>
.arrange{
   text-align:center;
   margin-top:100px;
}
h2{
   text-align:center;
   color:orange;
}
</style>
   
    <form method="get" class="arrange">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    
    {% if results %}
        <h2>Sem MasterResults are:</h2>
        <ul>
            {% for item in results %}
                <li>{{ item.sem}}</li> <br> 
	        <li>{{ item.semId}}</li> 
            {% endfor %}
        </ul>
    {% endif %}
<form action="{% url 'display_image' %}">
<table border=2>
<tr>
<td><button type="submit">Home</button></td></tr>
</table>
</form>
{% endblock %}

